.custom-input {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  width: 100%;
  padding: 0;

  @include vp-1199 {
    row-gap: 8px;
  }

  @include vp-767 {
    row-gap: 12px;
  }

  input {
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    min-height: 50px;
    margin-left: auto;
    padding: 10px;
    border-radius: 8px;
    background-color: $color-cerulean;
    outline: none;
    transition: border 0.3s ease;
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      background-color: rgba(255, 94, 102, 0.2);
      border: 1px solid $color-watermelon;

      &:focus,
      &:hover {
        background-color: rgba(255, 94, 102, 0.2);
        border: 1px solid $color-watermelon;
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }
  }
}
